* {
	margin: 0;
	padding: 0;
	list-style: none;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
}

body {
	background: #EE0000;
}
body,button {
	font-family: "Helvetica Neue", helvetica, sans-serif;
}

.clear { clear:both; }

/* container */
section#wrapper {
	position: relative;
	margin: 0 auto;
	width: 1024px;
	height: 768px;

	overflow: hidden;
	background: #E4E4E4;
}

header,
footer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: white;
	z-index: 100;
}
footer {
	bottom: 0;
	top: auto;
}

section#slideContainer {
	position: absolute;
	width: 100%;
	
	-webkit-transform: translate3d(0,-768px,0);
	transform: translate3d(0,-768px,0);
}
section#slideContainer section.screen {
	height: 768px;
	padding: 80px 0;
	position: relative;
}

section#slideRightContainer {
	width: 100%;
	background: purple;
	height: 100%;
	z-index: 101;
	position: absolute;
	
	-webkit-transform: translate3d(1024px,0,0);
	transform: translate3d(1024px,0,0);
}

/* transition */
section#slideRightContainer,
body.slideDown section#slideContainer,
body.slideUp section#slideContainer {
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* slide */
body.slideDown section#slideContainer {
	-webkit-transform: translate3d(0,-1536px,0);
	transform: translate3d(0,-1536px,0);
}
body.slideUp section#slideContainer {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
body.slideInRight section#slideRightContainer {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* content */
.content_right {
	position: absolute;
	right: 20px;
	top: 100px;
	bottom: 100px;
	width: 300px;
	background: white;
	border-radius: 5px;
}
.content_left {
	position: absolute;
	left: 20px;
	top: 100px;
	bottom: 100px;
	width: 660px;
	background: white;
	border-radius: 5px;
}

/* button */
button {
	padding: 15px;
	background: blue;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	background: #666666;
	box-shadow: 0px 3px 0px black;
	
	cursor: pointer;
}
button.active,
button.touch {
	background: #272829;
	box-shadow: none;
}
button.selected {
	background: #003399;
	box-shadow: none;
}

/* text */
h1 {
	font-size: 25px;
	margin-bottom: 10px;
}

/* header */
img#logo {
	position: absolute;
	right: 20px;
	top: 30px;
	width: 200px;
}
#clock {
	float: left;
}
#date {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}

/* footer */
#language {
	float: right;
}

/* static content_right */

.content_right nav {
	width: 100px;
	position: absolute;
	right: 0;
	height: 100%;
}
.content_right nav button#static_back {
	position: absolute;
	top: 15px;
	left: 15px;
}
.content_right nav button#static_next {
	position: absolute;
	bottom: 15px;
	left: 15px;
}
/* static slider */
.content_right nav div.slider_wrapper {
	position: absolute;
	top: 100px;
	left: 0px;
	/*background: blue;*/
	width: 100%;
	height: 370px;
}
.content_right nav div.line_back,
.content_right nav div.line_front {
	position: absolute;
	width: 4px;
	margin-left: -2px;
	height: 100%;
	left: 50%;
}
.content_right nav div.line_back {	background: green; background: #E4E4E4; }
.content_right nav div.line_front { 
	background: red; 
	background: #666666; 
	height: 0;
}
.content_right nav div.bullet,
.content_right nav div.bullet_current {
	background: red;
	background: #666666;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	margin-top: -10px;
	left: 50%;
	margin-left: -10px;
	color: white;
	font-size: 15px;
	padding-top: 1px;
}
.content_right nav div.bullet_current {
	background: orange;
	background: #003399;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	font-size: 18px;
	padding-top:2px;
}
.content_right nav div.bullet:nth-child(3) {top: 0%;}
.content_right nav div.bullet:nth-child(4) {top: 25%;}
.content_right nav div.bullet:nth-child(5) {top: 50%;}
.content_right nav div.bullet:nth-child(6) {top: 75%;}
.content_right nav div.bullet:nth-child(7) {top: 100%;}

.content_right nav div.step_start div.line_front {	height: 0; }
.content_right nav div.step_start div.bullet_current {	top: 0; }

.content_right nav div.step_via div.line_front {	height: 25%; }
.content_right nav div.step_via div.bullet_current {	top: 25%; }

.content_right nav div.step_option div.line_front {	height: 50%; }
.content_right nav div.step_option div.bullet_current {	top: 50%; }

.content_right nav div.step_date div.line_front {	height: 75%; }
.content_right nav div.step_date div.bullet_current {	top: 75%; }

.content_right nav div.step_summary div.line_front {	height: 100%; }
.content_right nav div.step_summary div.bullet_current {	top: 100%; }

.content_right nav div.step_via div.bullet:nth-child(5),
.content_right nav div.step_via div.bullet:nth-child(6),
.content_right nav div.step_via div.bullet:nth-child(7),
.content_right nav div.step_option div.bullet:nth-child(6),
.content_right nav div.step_option div.bullet:nth-child(7),
.content_right nav div.step_date div.bullet:nth-child(7) { 
	background: #E4E4E4; 
}

nav div.line_front,
nav div.bullet_current {	
	-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav div.bullet {
	-webkit-transition: background 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* screen: start */
section#start_wrapper {
	background: url(../image/bg_start.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}
section#tabs {
	position: absolute;
	width: 90%;
	background: white;
	margin: 5%;
	border-radius: 5px;
	overflow: hidden;
}
section#tabs ul {
	width: 100%;
	float: left;
}
section#tabs ul li {
	float: left;
	width: 307px;
	border-left: 1px solid white;
}
section#tabs ul li:first-child {
	border:none;
}
section#tabs ul li button {
	width: 100%;
	text-align: left;
	background: #666666;
	font-size: 20px;
	padding: 15px;
	color: white;
	border-radius: 0;
	box-shadow: none;
}
section#tabs ul li.current button {
	background: #003399;
}
section#tabs ul li button.touch {
	background: #003399;
}
section#tabs .tab {
	padding: 15px;
	float: left;
}

#tabs .tab {
	display: none;
}
#tabs .current {
	display: block;
}

/* screen: keyboard */
.keyboard_top .textfield {
	background: white;
	padding: 5px;
}
.keyboard_top button {
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
}


/* screen: via, option, date */
section.content {
	position: absolute;
	top: 100px;
	bottom: 100px;
	background: white;
	width: 660px;
	margin-left: 2%;
	border-radius: 5px;
	padding: 20px;
}
.ticket_selection {
	float: left;
	width: 30%;
}
