* {
	margin: 0;
	padding: 0;
	list-style: none;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	background: #EE0000;
}
body,button {
	font-family: "Helvetica Neue", helvetica, sans-serif;
}

.clear { clear:both; }

/* container */
section#wrapper {
	position: relative;
	margin: 0 auto;
	width: 1024px;
	height: 768px;

	overflow: hidden;
	background: #E4E4E4;
}

header,
footer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: white;
	z-index: 100;
}
footer {
	bottom: 0;
	top: auto;
	box-shadow: -1px -1px 2px rgba(221,221,221,0.8);
}
header {
	box-shadow: 1px 1px 2px rgba(221,221,221,0.8);
}

section#slideContainer {
	position: absolute;
	width: 100%;
	
	-webkit-transform: translate3d(0,-768px,0);
	transform: translate3d(0,-768px,0);
}
section#slideContainer section.screen {
	height: 768px;
	padding: 80px 0;
	position: relative;
}

section#slideRightContainer {
	width: 100%;
	background: #E4E4E4;
	height: 100%;
	z-index: 101;
	position: absolute;
	
	-webkit-transform: translate3d(1024px,0,0);
	transform: translate3d(1024px,0,0);
}

/* transition */
section#slideRightContainer,
body.slideDown section#slideContainer,
body.slideUp section#slideContainer {
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*
body.screen-date.scroll-backward section#slideContainer {
	transition-delay: 0.5s;
}
*/

/* slide */
body.slideDown section#slideContainer {
	-webkit-transform: translate3d(0,-1536px,0);
	transform: translate3d(0,-1536px,0);
}
body.slideUp section#slideContainer {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
body.slideInRight section#slideRightContainer {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* content */
.content_full,
.content_right,
.content_left,
.content_wide {
	position: absolute;
	top: 112px;
	bottom: 112px;
	background: white;
	padding: 16px;
	
	border-radius: 8px;
}
.content_full {
	top: 16px;
	bottom: 16px;
	left: 16px;
	right: 16px;
}
.content_right {
	right: 32px;
	width: 368px;
}
body.screen-start .content_right {
	visibility: hidden;
}
.content_left {
	left: 32px;
	top: 112px;
	bottom: 112px;
	width: 584px;
	
	box-shadow: 0px 10px 20px rgba(2,1,2,0.25);
}
.content_wide {
	left: 32px;
	width: 960px;
}

/* button */
button { border: none; cursor: pointer; }
.button_wrap {
	/*background: green;*/
	float: left;
}
.button_wrap button {
	font-size: 18px;
	box-shadow: 0px 3px 0px rgba(0,0,0,0.8);
	border-radius: 8px;	
	padding-top: 3px;
}
.button_wrap button.active,
.button_wrap button.touch {
	box-shadow: none;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.8);
	padding-top: 5px;
}


.button_wrap.button_h_s {
	height: 48px;
}
.button_wrap.button_h_s button {
	height: 45px;
}
.button_wrap.button_h_m {
	height: 64px;
}
.button_wrap.button_h_m button {
	height: 61px;
}
.button_wrap.button_h_m button.selected {
	height: 64px;
}

.button_wrap.button_w_a button {
	padding-left: 16px;
	padding-right: 16px;
}

.button_wrap.button_w_s button {
	width: 64px;
}

.button_wrap.button_w_m button {
	width: 104px;
}

.button_wrap.button_w_m2 button {
	width: 288px;
}

.button_wrap.button_w_l,
.button_wrap.button_w_l button {
	width: 100%;
	text-align: left;
}
.button_wrap.button_w_l button {
	padding-left: 16px;	
}

/* type normal */
.button_wrap.button_t_normal button {
	background: #666666;
	color: white;
}
.button_wrap.button_t_normal button.touch,
.button_wrap.button_t_normal button.active {
	background: #4e4e4e;
}

.button_wrap.button_t_normal button.selected {
	background: #003399;
	box-shadow: none;
}

/* type second / info / key */
.button_wrap.button_t_key button,
.button_wrap.button_t_second button {
	background: #a6a6a6;
	color: white;
}
.button_wrap.button_t_key button.touch,
.button_wrap.button_t_key button.active,
.button_wrap.button_t_second button.touch,
.button_wrap.button_t_second button.active {
	background: #828282;
}

/* type important */
.button_wrap.button_t_important button {
	background: #EE0000;
	color: white;
}
.button_wrap.button_t_important button.touch,
.button_wrap.button_t_important button.active {
	background: #B20000;
}

/* type key */
.button_wrap.button_t_key {
	margin-right: 16px;
}
.button_wrap.button_t_key button {
	font-size: 30px;
	font-weight: 300;
	padding-top: 3px;
}
.button_wrap.button_t_key button.inactive {
	box-shadow: none;
	background: #DDDDDD;
	color: #9C9D9D;
}

.button_container {
	float: left;
	width: 100%;
	background: #EBEBEB;
	padding: 16px;
		
	border-radius: 8px;
}

#tabs .input button,
.content_left button {
	font-weight: 500;
}


/* text */
h1 {
	font-size: 32px;
	margin-bottom: 40px;
	font-weight: normal;
	color: #EE0000;
	font-family: "Helvetica Neue";
  	font-weight: 300;
  	line-height: 71%;
}
h2 {
	color: white;
	font-size: 20px;
	font-weight: normal;
}
label {
	font-size: 20px;
	display: block;
	margin-bottom: 16px;
	line-height: 95%;
	float: left;
	width: 100%;
}

/* header */
img#logo {
	position: absolute;
	right: 32px;
	top: 29px;
	width: 213px;
}
#clock {
	position: absolute;
	left: 50%;
	top: 8px;
	margin-left: -35px;
	width: 65px;
	height: 65px;
}
#date {
	position: absolute;
	left: 32px;
	top: 28px;
	font-size: 21px;
	font-weight:500;
}

/* footer */
#language {
	position: absolute;
	top: 16px;
	left: 32px;
}

footer {
	padding-left: 32px;
	padding-top: 16px;
}
footer .button_wrap {
	margin-right: 16px;
}

/* help screen */
.help_close {
	position: absolute;
	left: 16px;
	bottom: 16px;
}
.content_full p {
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 10px;
}


/* static content_right */
.content_right .ticket_selection {
	float: left;
	width: 192px;
	height: 512px;
	background: #003399;
	border-radius: 8px;
	padding: 16px;
	padding-top: 12px;
	position: relative;
}

body.scroll-forward.screen-via .content_right,
body.scroll-forward.screen-via .content_right .ticket_selection,
body.scroll-forward.screen-via .content_right .ticket_selection .column_1,
body.scroll-forward.screen-via .content_right .ticket_selection .column_2,
body.scroll-forward.screen-via .content_right .ticket_selection .box_total,
body.scroll-forward.screen-summary .content_right,
body.scroll-forward.screen-summary .content_right .ticket_selection,
body.scroll-forward.screen-summary .content_right .ticket_selection .column_1,
body.scroll-forward.screen-summary .content_right .ticket_selection .column_2,
body.scroll-forward.screen-summary .content_right .ticket_selection .box_total {
	transition: 0.5s;
	transition-delay: 0.2s;
	transition-timing-function: ease;
	transition-property: width, height, opacity;
}


body.scroll-backward .content_right,
body.scroll-backward .content_right .ticket_selection {
	transition-delay: 0s;
}
.content_right .ticket_selection .box {
	float: left;
	color: white;
	border-bottom: 1px solid white;
	margin-top: 11px;
	padding-bottom: 11px;
	font-size: 17px;
	line-height: 22px;
	width: 100%;
}
.content_right .ticket_selection .box:first-of-type {
	border-top: 1px solid white;
	padding-top: 12px;
}
.content_right .ticket_selection .box .column_1 {
	width: 0;
	overflow: hidden;
	float: left;
	display: none;
}
.content_right .ticket_selection .box .column_2 {
	width: 100%;
	float: right;
}
.content_right .ticket_selection .box_total {
	position: absolute;
	bottom: 14px;
	width: 168px;
	border: none;
	padding: 0;
}
.content_right .ticket_selection .box_route .column_2 {
	font-weight: bold;
}
.cart_total_chf {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 4px;
}
.cart_direction {
	width: 100%;
	background-position: left center;
}
.direction_easy {
	background-image: url(../image/einfachklein.svg);
	background-repeat: no-repeat;
	height: 35px;
}
.direction_retour {
	background-image: url(../image/retourklein.svg);
	background-repeat: no-repeat;
	height: 42px;
}

body.screen-summary .content_right {
	width: 956px;
}
body.screen-summary .content_right .ticket_selection {
	width: 780px;
	height: 448px;
}
body.screen-date .content_right .ticket_selection .column_1 {
	display: block;
}
body.screen-summary .content_right .ticket_selection .column_1 {
	display: block;
	width: 20%;
}
body.screen-summary .content_right .ticket_selection .column_2 {
	width: 80%;
}
body.screen-summary .content_right .box_total {
	width: 768px;
}
body.screen-summary .content_right .box_total .column_1 {
	font-size: 20px;
}
body.screen-summary .content_right .box_option .column_1_fahrart {
	margin-top: 6px;
	margin-bottom: 14px;
}
body.screen-summary .content_right .box_option .column_direction_easy {
	margin-bottom: 6px;
}

.content_right nav {
	float: right;
	height: 100%;
	width: 103px;
	position: relative;
}
.content_right nav button#static_back {
	position: absolute;
	top: 0;
}
.content_right nav button#static_next {
	position: absolute;
	bottom: 3px;
}


/* static slider */
.content_right nav div.slider_wrapper {
	position: absolute;
	top: 74px;
	left: 0px;
	/*background: blue;*/
	width: 100%;
	height: 364px;
}
.content_right nav div.line_back,
.content_right nav div.line_front {
	position: absolute;
	width: 4px;
	margin-left: -2px;
	height: 100%;
	left: 50%;
}
.content_right nav div.line_back {	background: green; background: #E4E4E4; }
.content_right nav div.line_front { 
	background: red; 
	background: #666666; 
	height: 0;
}
.content_right nav div.bullet,
.content_right nav div.bullet_current {
	background: red;
	background: #666666;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	margin-top: -10px;
	left: 50%;
	margin-left: -10px;
	color: white;
	font-size: 14px;
	padding-top: 1px;
	font-weight: 600;
}
.content_right nav div.bullet_current {
	background: orange;
	background: #003399;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	font-size: 18px;
	padding-top:3px;
}
.content_right nav div.bullet:nth-child(3) {top: 0%;}
.content_right nav div.bullet:nth-child(4) {top: 25%;}
.content_right nav div.bullet:nth-child(5) {top: 50%;}
.content_right nav div.bullet:nth-child(6) {top: 75%;}
.content_right nav div.bullet:nth-child(7) {top: 100%;}

.content_right nav div.step_start div.line_front {	height: 0%; }
.content_right nav div.step_start div.bullet_current {	top: 0%; }

.content_right nav div.step_via div.line_front {	height: 25%; }
.content_right nav div.step_via div.bullet_current {	top: 25%; }

.content_right nav div.step_option div.line_front {	height: 50%; }
.content_right nav div.step_option div.bullet_current {	top: 50%; }

.content_right nav div.step_date div.line_front {	height: 75%; }
.content_right nav div.step_date div.bullet_current {	top: 75%; }

.content_right nav div.step_summary div.line_front,
.content_right nav div.step_pay div.line_front { height: 100%; }
.content_right nav div.step_summary div.bullet_current,
.content_right nav div.step_pay div.bullet_current { top: 100%; }

.content_right nav div.step_start div.bullet:nth-child(4),
.content_right nav div.step_start div.bullet:nth-child(5),
.content_right nav div.step_start div.bullet:nth-child(6),
.content_right nav div.step_start div.bullet:nth-child(7),
.content_right nav div.step_via div.bullet:nth-child(5),
.content_right nav div.step_via div.bullet:nth-child(6),
.content_right nav div.step_via div.bullet:nth-child(7),
.content_right nav div.step_option div.bullet:nth-child(6),
.content_right nav div.step_option div.bullet:nth-child(7),
.content_right nav div.step_date div.bullet:nth-child(7) { 
	background: #E4E4E4; 
}

nav div.line_front,
nav div.bullet_current {	
	-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
nav div.bullet {
	-webkit-transition: background 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background 0.5s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/* screen: screensaver */
#tap_overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../image/bg_start2-werbung.jpg);
	background-size: 100%;
	background-position: center center;
}

/* screen: start */
section#start_wrapper {
	background: url(../image/bg_start2.jpg);
	background-size: 100%;
	background-position: center center;
	height: 100%;
	width: 100%;
	position: relative;
}
section#tabs {
	position: absolute;
	width: 960px;
	background: white;
	margin-left: 32px;
	margin-top: 32px;
	overflow: hidden;
	
	border-radius: 8px;
}
section#tabs ul {
	width: 100%;
	float: left;
}
section#tabs ul li {
	float: left;
	width: 320px;
	border-left: 1px solid white;
}
section#tabs ul li:first-child {
	border:none;
}
section#tabs ul li button {
	width: 100%;
	text-align: left;
	background: #666666;
	font-size: 20px;
	padding: 12px 16px;
	color: white;
	border-radius: 0;
	box-shadow: none;
}
section#tabs ul li.current button {
	background: white;
	color: #272829;
}
section#tabs ul li button.touch {
	background: #003399;
}
section#tabs .tab {
	padding: 15px;
	float: left;
	width: 100%;
}
#tabs .tab {
	display: none;
}
#tabs .current {
	display: block;
}


section#start_wrapper .box_left,
section#start_wrapper .box_right {
	width: 456px;
}
section#start_wrapper .box_left {
	float: left;
}
section#start_wrapper .box_right {
	float: right;
}
section#start_wrapper .box_bottom {
	float: left;
	width: 100%;
}
section#start_wrapper .button_wrap.button_t_important {
	float: right;
	margin-top: 16px;
}
section#start_wrapper .input {
	float: left;
	width: 100%;
	background: white;
	padding: 8px;
	border: 1px solid #272829;
	
	border-radius: 8px;
	
}
section#start_wrapper .input .button_wrap {
	float: right;
}
section#start_wrapper .input .button_wrap button {
	text-align: center;
}

section#start_wrapper .input .value {
	position: absolute;
	font-size: 30px;
	margin-top: 6px;
	margin-left: 6px;
}

#tab_2_content .button_container {
	padding-right: 0;
	padding-bottom: 0;
}
#tab_2_content .button_wrap {
	margin-right: 16px;
	margin-bottom: 16px;
}


/* screen: keyboard */
.keyboard_top {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 992px;
	background: white;
	border-radius: 8px;
	padding: 16px;
}
.keyboard_bottom {
	position: absolute;
	bottom: 16px;
	left: 16px;
	width: 992px;
	background: #F8F8F8;
	border-radius: 8px;
	padding-bottom: 16px;
}

.keyboard_top h1 {
	margin-bottom: 17px;
}
.keyboard_top .textfield {
	background: white;
	padding: 12px;
	border: 1px solid black;
	border-radius: 8px;
	font-size: 30px;
	color: #272829;
}
.keyboard_top label {
	margin-bottom: 6px;
	margin-top: 16px;
}
.keyboard_top .result {
	margin-top: 8px;
}
.keyboard_top .button_wrap {
	margin-top: 8px;
}
.keyboard_top button {
	text-align: left;
	font-size: 30px;
	font-weight: 300;	
	padding-top: 3px;
}
.keyboard_top button.active,
.keyboard_top button.touch {
	padding-top: 5px;
}


.keyboard_bottom .row {
	float: left;
	width: 100%;
	margin-top: 16px
}
.keyboard_bottom .row_1 {
	padding-left: 104px;
}
.keyboard_bottom .row_2 {
	padding-left: 144px;
}
.keyboard_bottom .row_3 {
	padding-left: 104px;
}
.keyboard_bottom .row_4 {
	padding-left: 296px;
}
.keyboard_bottom .row_4 .button_wrap {
	width: 400px;
}
.keyboard_bottom .row_4 .button_wrap button {
	text-align: center;
}
.keyboard_bottom button.del img {
	width: 35px;
}

/* screen: via */
body.screen-via .button_container {
	position: relative;
	padding-top: 0;
}
body.screen-via .button_container .button_wrap {
	margin-top: 16px;
}
#button_via_info {
	float: right;
}
body.screen-via .content_left > label:last-of-type {
	margin-top: 40px;
}

body.screen-via .table_wrap {
	float: left;
	width: 100%;
	background: #EBEBEB;
	padding: 16px;
	padding-top: 11px;
		
	border-radius: 8px;
}
body.screen-via .table_wrap table {
	float: left;
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 16px;
}
body.screen-via .table_wrap table th {
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	border-bottom: 1px solid #272829;
	padding-bottom: 11px;
}
body.screen-via .table_wrap table th.via { width: 312px; }
body.screen-via .table_wrap table th.time { width: 134px; }
body.screen-via .table_wrap table th.duration { width: 134px; }
body.screen-via .table_wrap table th.change { width: 134px; }
body.screen-via .table_wrap table th.button { width: 208px; }

body.screen-via .table_wrap table td {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #272829;
	font-size: 18px;
}
body.screen-via .table_wrap table td .button_t_important {
	float: right;
}

body.screen-via .table_wrap #via_later {
	float: right;
}

/* screen: option */
body.screen-option label {
	line-height: 26px;
	margin-bottom: 10px;
}
.content_left .box_left, 
.content_left .box_right {
	width: 256px;
	margin-bottom: 32px;
}
.content_left .box_left {
	float: left;
	clear: both;
}
.content_left .box_right {
	float: right;
}

.number {
	float: left;
	width: 64px;
	height: 64px;
	text-align: center;
	background: #003399;
	color: white;
	border-radius: 8px;
	margin: 0 16px;
	
	padding: 2px 0;
	font-size: 48px;
	font-weight: 300;
}
.group_box.empty .number {
	background: white;
	color: #272829;
	border: 1px solid #B2B2B2;
}

.radio_group .button_wrap:first-child {
	margin-right: 16px;
}

.group_box button img {
	margin-top: 6px;
}
.radio_group button img {
	margin-top: 4px;
}


/* screen: date */
body.screen-date .button_container {
	padding-top: 0;
}
body.screen-date .button_container .button_wrap {
	margin-top: 16px;
}

/* screen: summary */

#button_static_pay {
	bottom: 16px;
	position: absolute;
	right: 160px;
	width: 780px; 
}
#button_static_pay button {
	text-align:center;
}

/* screen: pay */
body.screen-pay .box_left {
	float: left;
}
body.screen-pay .box_right {
	float: right;
}
body.screen-pay .box_left,
body.screen-pay .box_right {
	margin-top: 11px;
	width: 456px;	
	
}
body.screen-pay .icon_bargeld,
body.screen-pay .icon_kreditkarte {
	background: #ebebeb;
	background-size: 220px;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 100%;
	height: 229px;
	
	border-radius: 8px;
}
body.screen-pay .icon_bargeld {
	/*background-image: url(../image/icon_cash.png);*/
}
body.screen-pay .icon_kreditkarte {
	/*background-image: url(../image/icon_kk.png);*/
}

body.screen-pay .box_bottom {
	background: #003399;
	float: left;
	width: 100%;
	margin-top: 16px;
	border-radius: 8px;
	height: 124px;
	padding: 16px;
	color: white;
}
body.screen-pay .box_bottom label {
	float: left;
	width: 116px;
}
body.screen-pay .box_bottom .total {
	float: left;
	margin-left: 32px;
}



/* css variante: 3d */
body.style-button-3d .button_wrap.button_t_normal button {
	background: #666;
	color: white;
	
	background-image: linear-gradient(to top, #555555, #666);
	box-shadow: 0px 3px 0px #383838;
}
body.style-button-3d .button_wrap.button_t_normal button.touch,
body.style-button-3d .button_wrap.button_t_normal button.active {
	background: #4e4e4e;
	box-shadow: 0px 2px 0px #383838;
}
body.style-button-3d .button_wrap.button_t_normal button.selected {
	background: #003399;
	box-shadow: none;
}

body.style-button-3d .button_wrap.button_t_important button {
	background: #EE0000;
	color: white;
	
	background-image: linear-gradient(to top, #d60000, #EE0000);
	box-shadow: 0px 3px 0px #a70000;
}
body.style-button-3d .button_wrap.button_t_important button.touch,
body.style-button-3d .button_wrap.button_t_important button.active {
	background: #B20000;
	box-shadow: 0px 2px 0px #a70000;
}
body.style-button-3d .button_wrap.button_t_key button,
body.style-button-3d .button_wrap.button_t_second button {
	background: #a6a6a6;
	color: white;
	
	background-image: linear-gradient(to top, #959595, #a6a6a6);
	box-shadow: 0px 3px 0px #747474;
}
body.style-button-3d .button_wrap.button_t_key button.touch,
body.style-button-3d .button_wrap.button_t_key button.active,
body.style-button-3d .button_wrap.button_t_second button.touch,
body.style-button-3d .button_wrap.button_t_second button.active {
	background: #959595;
	box-shadow: 0px 2px 0px #747474;
}
body.style-button-3d .button_wrap.button_t_key button.inactive {
	box-shadow: none;
	background: #DDDDDD;
	color: #9C9D9D;
}



/* css variante: blau */
body.style-blue section#tabs ul li button {
	background: #6B7786;
	color: white;
}
body.style-blue section#tabs ul li.current button {
	background: white;
	color: #272829;
}

body.style-blue .button_wrap.button_t_normal button {
	background: #6B7786;
	color: white;
}
body.style-blue .button_wrap.button_t_normal button.touch,
body.style-blue .button_wrap.button_t_normal button.active {
	background: #566373;
}
body.style-blue .button_wrap.button_t_normal button.selected {
	background: #003399;
}


body.style-blue .button_wrap.button_t_second button {
	background: #A6ADB6;
	color: white;
}
body.style-blue .button_wrap.button_t_second button.touch,
body.style-blue .button_wrap.button_t_second button.active {
	background: #6B7786;
}

body.style-blue .content_right nav div.bullet,
body.style-blue .content_right nav div.line_front { 
	background: #6B7786; 
}



/* css variante: kleiner radius */
body.style-radius-v1 .content_right, 
body.style-radius-v1 .content_left, 
body.style-radius-v1 .content_wide,
body.style-radius-v1 .content_full,
body.style-radius-v1 .keyboard_top,
body.style-radius-v1 .keyboard_bottom,
body.style-radius-v1 section#tabs,
body.style-radius-v1 section.ticket_selection {
	border-radius: 8px;
}

body.style-radius-v1 .button_wrap button,
body.style-radius-v1 .button_container,
body.style-radius-v1 .icon_bargeld,
body.style-radius-v1 .icon_kreditkarte,
body.style-radius-v1 .box_bottom,
body.style-radius-v1 section#start_wrapper .input {
	border-radius: 8px;
	/*border-radius: 3px;*/
}